<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/logo192.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Home Test Description" />
    <meta name="url" content="url" />
    <meta property="og:title" content="Home Test Title <%= name %>" />
    <meta property="og:type" content="Home Test Type" />
    <meta property="og:url" content="Home Test URL" />
    <meta
      property="og:image"
      content="http://cdn.edujin.co.kr/news/photo/202007/33451_61410_5236.jpg"
    />
    <meta property="og:site_name" content="Home Test Site name  <%= name %>" />
    <meta
      property="og:description"
      content="Home Test Description  <%= name %>"
    />
    <title>Home Ejs 입니다~</title>
  </head>
  <body>
    <h1>Home Ejs Test!!!</h1>
    <div>로봇인가요?</div>
    <div>name : <%= name %></div>
  </body>
</html>
